<!DOCTYPE html>
<html lang="de">
  {% include "templates/header.njk" %}
  <body>
    <!--<a href="#main">Zum Hauptinhalt springen</a>-->
    <main id="main" class="h-card">
      <h1 class="p-note">{{ note | safe }}</h1>
      <h2 class="p-name">
        {{ name | safe}}
      </h2>
      <a href="/" title="Zurück zur Hauptseite"
        ><img
          class="u-photo"
          width="500"
          height="500"
          alt="Foto von Sven Bischoff"
          src="./assets/img/sb.webp"
      /></a>
      <section id="welcome">
        {{ content | safe }}
      </section>
    </main>
    {% include "templates/footer.njk" %}
    <script>
      navigator.serviceWorker &&
        navigator.serviceWorker.register &&
        !navigator.serviceWorker.controller &&
        navigator.serviceWorker.register("sw.js", { scope: "./" });
    </script>
  </body>
</html>
