!dist/
dist/*
!dist/.htaccess
!dist/humans.txt
!dist/manifest.json
!dist/robots.txt
!dist/ror.xml
!dist/sitemap.xml
!dist/sitemap.xml.gz
!dist/sw.js
!dist/urllist.txt
!dist/assets/

dist/assets/*
!dist/assets/fonts/
!dist/assets/pwa/
!dist/assets/js/
!dist/assets/img/
!dist/assets/css/

dist/assets/css/*
!dist/assets/css/.keep

.DS_Store
.sass-cache
node_modules