<!DOCTYPE html>
<html lang="de">
  {% include "templates/header.en.njk" %}
  <body>
    <!--<a href="#main">Jump to main content</a>-->
    <main id="main" class="h-card">
      <h1 class="p-note">{{ note | safe }}</h1>
      <h2 class="p-name">
        {{ name | safe}}
      </h2>
      <a href="/" title="Go to homepage">
        <img
          class="u-photo"
          alt="Photo of Sven Bischoff"
          src="./assets/img/sb.jpg"
        />
      </a>
      <section id="welcome">
        {{ content | safe }}
      </section>
    </main>
    {% include "templates/footer.en.njk" %}
    <script>
      navigator.serviceWorker &&
        navigator.serviceWorker.register &&
        !navigator.serviceWorker.controller &&
        navigator.serviceWorker.register("sw.js", { scope: "./" });
    </script>
  </body>
</html>
