<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="preload" href="./assets/css/app.css" as="style">
  <link rel="stylesheet" href="./assets/css/app.css">
  <link rel="author" href="./humans.txt" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <title>{{ title }}</title>
  <meta
    name="description"
    content="The personal web profile of the full-stack developer Sven Bischoff including profile links for his social media."
  />
  <meta name="theme-color" content="#37474f" />
  <link rel="apple-touch-icon" href="./assets/pwa/a4db7015-2abf-ca0f-2514-44c4f7133fe3.webPlatform.png">
  <link rel="manifest" href="./manifest.json" />
  <link rel="shortcut icon" href="./assets/img/favicon.png" />

</head>
