html {
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";;
  font-display: auto;
  font-weight: 300;
  text-align: center;
  word-spacing: 0.25rem;
  background: #37474f;
  color: #cfd8dc;
  margin: 0;
}

main {
  padding: 0 1rem 3rem;
  flex: 1;
}

a,
a:active,
a:visited {
  color: inherit;
}

img.u-photo {
  height: auto;
  /**
    * border-radius: 100%;
    */
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-weight: inherit;
  line-height: 1em;
  margin: 0.75em 0 0.75em 0;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2rem;
  margin: 1em;
}

strong {
  font-weight: 500;
}

footer {
  line-height: 2.5em;
  font-size: 1rem;
  background: #182024;
}

a.external {
  display: inline-block;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  background: #b0bec5;
  color: #182024;
  box-shadow: 0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.16),
    0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.12);
  width: 12rem;
  margin: 0.5rem 0.125rem;
  padding: 0.5rem;
}

a.external:focus {
  outline: 0.125rem #182024 solid;
  outline-offset: -0.25rem;
}

a.external:hover,
a.external:active {
  background: #fefefe;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
*/

#welcome {
  color: #182024;
  font-weight: 400;
  font-size: 1.5rem;
  background: #b0bec5;
  padding: 3rem 0 3rem;
}

#welcome p {
  text-align: left;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 0 2rem;
}

#linked-profiles {
  padding: 3rem 0;
}