body{
  font-family: 'Source Code Pro2', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  word-spacing: .25rem;
  background: #37474f;

  color: #cfd8dc;

  margin: 3rem 0 0 0;
}

a,
a:active,
a:visited {
  color: #cfd8dc;
}

img {
  height: auto;
  max-width: 90%;

  border: .25rem #fefefe solid;
  border-radius: 100%;
}

h1, h2, h3 {
  font-weight: inherit;
  line-height: 1em;
  margin: .75em 0 .75em 0;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1em
}

strong {
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  min-height: 1.75em;
  width: 100%;

  line-height: 1.75em;
  font-size: .75rem;

  background: #263238;

  margin-top: 3rem;
}

a.external {
  display: inline-block;

  font-weight: 500;
  font-size: .75rem;
  text-decoration: none;
  text-transform: uppercase;

  background: #b0bec5;
  color: #263238;
  box-shadow: 0 .125rem .3rem 0 rgba(0,0,0,.16),0 .125rem .3rem 0 rgba(0,0,0,.12);

  width: 8rem;
  margin-bottom: .5rem;
  padding: .25rem;

  transition: background-color 125ms linear;
}

a.external:focus {
  outline: .125rem #37474f solid;
  outline-offset: -.25rem;
}

a.external:hover,
a.external:active {
  background: #fefefe;
}

a.external span.socicon {
  margin-right: 1rem;
}

.hidden {
  display:none;
  visibility:hidden
}
